* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: Arial, sans-serif;
  overflow-y: auto;
  min-height: 100vh;
}

.sendeplan {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.container {
  width: 100%;
  max-width: 720px;
  display: flex;
  width: 100%;
  border: 1px solid #84fab0; 
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.dj-info img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: auto;
}

.dj-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dj-info h2 {
  margin-top: 15px;
  color: #84fab0;
  font-size: 1.5rem;
}

.dj-info a {
  text-decoration: none;
  color: #8fd3f4;
  position: relative;
  padding: 0 10px;
  text-align: center;
  font-size: 1rem;
}

.dj-info a:hover {
  color: #84fab0;
}

.dj-info a:not(:last-child)::after {
  content: "|";
  color: #84fab0;
  position: absolute;
  right: -3px;
}
/*Позицонирование текста*/

.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.darken img {
  filter: brightness(40%);
}

.datetime {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 1rem;
}

.schedule-name {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

/*Адаптация*/

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .darken img {
    width: 100%;
    height: auto;
  }

  .dj-info img {
    width: 60%;
  }

  .dj-info a {
    font-size: 1rem;
  }

  .dj-info h2 {
    font-size: 1.5rem;
  }

  .datetime {
    font-size: 1rem;
    padding: 5px;
    
  }

  .schedule-name {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 400px) {
  .darken img {
    width: 100%;
    height: auto;
  }

  .dj-info img {
    width: 50%;
  }

  .dj-info a {
    font-size: 0.8rem;
  }

  .dj-info h2 {
    font-size: 1rem;
  }

  .datetime {
    padding: 5px;
    font-size: 0.8rem;
  }
  
  .schedule-name {
    font-size: 1rem;
  }
}